@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#e5fff0b0;
    --cor1:#90E0B186;
    --cor2:#A2FFC9b0;
    --cor3:#7ABF97;
    --cor4:#528065;
    --cor5:#294032;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor1);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    max-width: 500px;
    font-size: 1.2em;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.16);
    padding-bottom: 20px;
}

header > h1 {
    color: white;
    font-size: 3em;
    font-family: var(--font-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.16);
}

nav{
    background-color: var(--cor4);
    padding: 10px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 767px){
    nav{
    flex-direction: column;
    
    }
}

nav > a{
    color: #88f1b3;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: #7ABF97;
    color: #528065;
}

main{

    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main.home{
    min-width: 300px;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.285);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main > article > picture > img{
    width: 100%;
}

main > article > img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main > article > h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main > article > h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), white );
    text-indent: 5px;
    font-weight: normal;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align : justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: #88f1b3;
    color: #294032;
    padding: 2px 8px 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: #294032d6;
}

main strong{
    color: #294032;
    font-weight: bold;
}

div.video{
    background-color: #294032;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}
 div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.32);
}

aside > h3 {
    background-color: #294032;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
}

footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline;
    color: #88f1b3;
}